<%- include('partials/_header.ejs') -%>
<body class="host_version"> 

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
<%- include('partials/_navigation.ejs') -%>
	<!-- End header -->
	<% if(user) { %>
		<% if(user.role==='student') { %>
			<%- include('partials/_studentDashboard.ejs') -%>
	<% } %>


	<% if(user.role==='teacher') { %>
		<%- include('partials/_teacherDashboard.ejs') -%>
		<% } %>

	<% } %>
<%- include('partials/_footer.ejs') -%>

</body>
</html>